header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #5864FF;
    color: white;
    padding-left: 3%;
    padding-right: 4%;
}

.logo img {
    max-width: 250px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

a {
    color: white;
    text-decoration: None;
    font-size: large;
}